body {
  background-color: black}
h1 {
  color: coral;
  text-align: center;
  font-size:20px;
}
p {
  color: coral;
  text-align: center;
  font-size:12px;
}
ol {
  color: blue;
}
ul {
  color: white;
}
