body {
  background-color:black;
}
h1 {
  color: deeppink;
  text-align: right;
  font-family: sans-serif;
  font-size: 60px;
}
h2 {
  color: deeppink;
  text-align: left;
  font-family: sans-serif;
  font-size: 30px;
}
h3 {
  color:deeppink;
  text-align:right;
  font-family:sans-serif;
  font-size:30px;
}
p {
  color: darkcyan;
  text-align: right;
  font-family: sans-serif;
  font-size: 20px;
}
ol {
  color: deeppink;
  text-align:right;
  font-family: sans-serif;
}
ul {
  color: deeppink;
  text-align:right;
  font-family: sans-serif;
}
