body {
background-image: "backimage.png.jpg";
background-color: white;
}
h1 {
  color: darkcyan;
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
}
h2 {
  color: darkcyan;
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
}
p {
  color: cadetblue;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
}
ol {
  color: black;
  font-family: sans-serif;
}
ul {
  color: black;
  font-family: sans-serif;
}
